@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.bg-primary {
  background-color: var(--color-primary);
  color: white;
  transition: background-color 0.3s ease;
}

.bg-primary:hover {
  background-color: #1f2a48; /* A darker version of #14213D */
}
.bg-secondary {
  background-color: var(--color-secondary);
  color: white;
  transition: background-color 0.3s ease;
}

.bg-secondary:hover {
  background-color: #e59d10; /* Slightly darker version */
}
